.page {
  margin: 0 auto;
  padding: 0 48px;
  background-color: #2A2C2F;
  color: #fff;
  max-width: 1280px;
  min-width: 320px;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 900px) {
  .page {
    padding: 0 24px;
  }
}

@media screen and (max-width: 600px) {
  .page {
    padding: 0 16px;
  }
}
