.cover {
  display: block;
  width: 100%;
  background: url(../../images/background.jpg) no-repeat top/contain;
  aspect-ratio: 16/10;
  box-sizing: content-box;
}

@media screen and (max-width: 1140px) {
  .cover {
    width: calc(100% + 96px);
    position: relative;  /*без относительного позиционирования картинка будет с отступом*/
    left: -48px;
  }
}

@media screen and (max-width: 900px) {
  .cover {
    width: calc(100% + 48px);
    left: -24px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    width: calc(100% + 32px);
    left: -16px;
  }
}
