.section {
  width: 100%;
  padding-bottom: 92px;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .section {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 600px) {
  .section {
    padding-bottom: 64px;
  }
}

